@page "/Help"

<PageTitle>Index</PageTitle>

<style>
    img {
        width : 75%;
        height: 45%;
        margin: 0.5em 1em;
    }

    p {
        background-color: #BDE5F8;
        color:black;
        margin:0.5em 0em 1em 1em;
    }
    h3 {
        color:white;
        margin: 0.5em;
    }
</style>

<h3>Kort manual - Pugger verjon @Program.GetVersionGloser</h3>

<p>1. Først velger du språk og ordliste</p>

<img src="img/Manual_Language.png" />

<p>2. Så velger du hvilke ord du skal pugge. Du kan velge alfabetisk, mest brukte og tilfeldige ord</p>
<img src="img/Manual_Select.png" />

<p>3. Klikk på ordene når du kan dem. Smileyen blir blidere og blidere. Ved å trykke på
    flagget så skifter du "puggeretning".
    ENG knappen viser også det engelske ordet - nyttig i noen sammenhenger.
    Når alle ordene er klikket på er "puggerunden" ferdig</p>

<img src="img/Manual_Pugge.png" />
<p>4. Du kan også pugge via liste. Velg 4,6 eller 8 ord. Velg sekunder å tenke.Klikk på ordet når du kan det. </p>
<img src="img/Manual_List.png" />



