@page "/Help"

<PageTitle>Index</PageTitle>

<style>
    img {
        width : 75%;
        height: 45%;
        margin: 0.5rem 1rem;
        max-width:400px;
        max-height:300px;
    }

    p {
        background-image: var(--GradientBody);
        color:white;
        margin:0.5rem 0rem 1rem 1rem;
    }
    h3 {
        color:white;
        margin: 0.5rem;
    }
</style>

<h3>Kort manual - Pugger verjon @Program.GetVersionGloser</h3>

<img src="Img/Manual_Language.png" />
<p>1. Først velger du språk og ordliste</p>

<br />
<img src="Img/Manual_Select.png" />
<p>2. Så velger du hvilke ord du skal pugge. Du kan velge alfabetisk, mest brukte og tilfeldige ord</p>
<br />
<img src="Img/Manual_Pugge.png" />
<p>3. Klikk på ordene når du kan drem. Smileyen (ved %) blir blidere og blidere. Ved å trykke på
    flagget så skifter du "puggeretning". Smileyen (ved ⟳) er et filter slik at du kan velge kun "dårlige" ord.
    ENG knappen viser også det engelske ordet - nyttig i noen sammenhenger.
    Når alle ordene er klikket på er "puggerunden" ferdig</p>

    <br/>
<img src="Img/Manual_List.png" />
<p>4. Du kan også pugge via liste. Velg 4,6 eller 8 ord. Velg sekunder å tenke. Klikk på ordet når du kan det. 
    
</p>




