@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@using BlazorWEB.Pages;

<Csscontrol></Csscontrol>

<div class="page" style="max-width:2000px">




    <main>
        <div style="background-image:var(--GradientMenu);">
        <NavMenu />
        </div>
        <article class="content px-1" style="margin:1.5em 0em 0em 0em">
            @Body
        </article>
    </main>
</div>
@code
{
    protected async override Task OnInitializedAsync()
    {

        NavigationManager.NavigateTo("LangSetup");
        await Task.Delay(1);

    }

    [JSInvokable]
#pragma warning disable 1998
    public async static Task fnFromJS()
    {
        //Do some stuff
        //Program.ShowHelp = false;
        try
        {
            
        }
        catch (Exception)
        {

        }
    }
}