@inherits LayoutComponentBase
@inject NavigationManager NavigationManager



<div class="page">
    <div class="sidebar" style="background-image: linear-gradient(to bottom, rgb(12,0,12),darkblue ">
        <NavMenu />
    </div>

    <main>


        <article class="content px-1">
            @Body
        </article>
    </main>
</div>
@code
{
    protected async override Task OnInitializedAsync()
    {

        NavigationManager.NavigateTo("LangSetup");
        await Task.Delay(1);

    }
}