@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@using BlazorWEB.Pages;

<Csscontrol></Csscontrol>

<div class="page">
    <div class="sidebar" style="background-image:var(--GradientMenu);">
        <NavMenu />
    </div>

    <main>
        <article class="content px-1">
            @Body
        </article>
    </main>
</div>
@code
{
    protected async override Task OnInitializedAsync()
    {

        NavigationManager.NavigateTo("LangSetup");
        await Task.Delay(1);

    }
}