@inject NavigationManager NavigationManager
@implements IDisposable


@using BlazorWEB.Pages;

<Csscontrol></Csscontrol>

<style>
    a {
        color:yellow;
        padding:0px;
 
    }

    a:hover {
        background-color: blue;
            padding: 1px;
        }

    .navbar {
        overflow:hidden;
        background-color:black;

    }

    .navbar a {
        float:left;
        color:white;
        text-align:center;
        padding: 3px 6px;
    }

</style>


<div >
    <div class ="navbar">

        <a style=@Style("LangSetup") href="LangSetup">Språk</a>
        <a style=@Style("SimpleList") href ="SimpleList">Ord</a>
        <a style=@Style("Scroll") href ="Scroll">Pugg</a>
        <a style=@Style("ScrollList") href="ScrollList">Liste</a>
        <a style=@Style("Hjelp") href ="">Hjelp</a>

    </div>


</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected async override Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += LocationChanged;
        await Task.Delay(1);
    }
    void IDisposable.Dispose()
    {
        NavigationManager.LocationChanged -= LocationChanged;
    }

    string Style(string pageCurr)
    {
        if (page == pageCurr)
            return "color:yellow;text-decoration:underline;";
        return "color:white";
    }


    static string GetPage(string location)
    {
        string[] a = location.Split(@"/");
        string? s = a.LastOrDefault();
        return s ?? "";
    }
    static string page = "";
    void LocationChanged(object ? sender, LocationChangedEventArgs e)
    {
        page = GetPage(e.Location);
        StateHasChanged();
    }
}
